@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Inclusive+Sans&family=Inter&family=Onest&family=Poppins:wght@300;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.app {
    margin-top: 10rem;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleApp{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}